.answer-article-item {
  margin-bottom: 30px;
  margin-left: 100px;
  border-radius: var(--border-radius);
  padding: 20px;
  border: 1px solid ;
}

.answer-article-item .remove-answer-button {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  background-color: var(--admin-error-color-blur);
}

.answer-article-item .remove-answer-button svg {
  margin-right: 5px;
}

.answer-article-item .remove-answer-button:hover {
  background-color: var(--admin-error-color);
}