@import url("AdminTable.css");

.admin-container {
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.admin-title {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
  
.add-user-button {
  background-color: #80669d;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: var(--border-radius);
}

.add-user-button:hover {
  background-color: #6c429c;
}
  