.answer-item {
  margin-bottom: 30px;
  margin-left: 100px;
  border-radius: var(--border-radius);
  padding: 20px;
  border: 1px solid ;
}

.answer-item .remove-answer-button {
  width: fit-content;
  margin-left: auto;
  background-color: var(--admin-error-color-blur);
}

.answer-item .remove-answer-button:hover {
  background-color: var(--admin-error-color);
}