.admin-question-details-container {
    width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: var(--border-radius);
}

.admin-question-details-back-button {
    background-color: var(--admin-accent-color);
    color: var(--soft-white);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.admin-question-details-back-button:hover {
    background-color: var(--admin-secondary-color);
    transform: translateY(-2px);
}

.question-details-card {
    padding: 20px;
    background-color: var(--background-color);
    border-left: 5px solid var(--admin-success-color);
    border-radius: var(--border-radius);
}

.question-details-card h2 {
    color: var(--primary-color);
}

.question-detail {
    display: flex;
    margin-bottom: 15px;
}

.label {
    flex: 1;
    font-weight: bold;
    color: var(--admin-primary-color);
}

.value {
    flex: 2;
    color: var(--admin-text-color);
}

.loading-message {
    text-align: center;
}

.error-message {
    text-align: center;
    color: var(--admin-error-color);
    font-weight: bold;
}

.question-detail-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-button, .save-button, .cancel-button {
    display: flex;
    align-items: center;
    background-color: var(--admin-accent-color);
    color: var(--soft-white);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 20px 0px;
}

.edit-button:hover, .save-button:hover {
    background-color: var(--admin-secondary-color);
    transform: translateY(-2px);
}

.cancel-button {
    background-color: var(--admin-error-color);
    margin-left: 10px;
}

.cancel-button:hover {
    background-color: var(--admin-error-color-blur);
    transform: translateY(-2px);
}

.edit-button svg, .save-button svg, .cancel-button svg {
    margin-right: 5px;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    max-width: -webkit-fill-available;
    padding: 8px 10px;
    border: 1px solid #cccccc;
    border-radius: var(--border-radius);
    font-size: 14px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-actions {
    display: flex;
    align-items: center;
}

.success-message {
    color: green;
    margin-top: 15px;
}

.error-message {
    color: red;
    margin-top: 15px;
}

.answers-section {
    margin-top: 20px;
    background-color: var(--background-color);
    border: 1px solid #e0e0e0;
    border-radius: var(--border-radius);
    padding: 15px;
  }
  
  .answers-section h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  .answers-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .answers-list .answer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    border: 1px solid #ddd;
  }
  
  .answer-content {
    font-size: 1rem;
    color: var(--text-color);
  }
  
  .answer-badge {
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .answer-badge.correct {
    background-color: var(--admin-success-color);
    color: white;
  }
  
  .answer-badge.incorrect {
    background-color: var(--admin-error-color);
    color: white;
  }


  .answers-edit-section {
    margin-top: 20px;
  }

  .answers-edit-section h3 {
    color: var(--text-color);
  }
  
  .answer-edit-item {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    background: #f9f9f9;
  }
  
  .answer-edit-item .form-group {
    flex: 1;
    min-width: 200px;
  }
  
  .remove-answer-button,
  .add-answer-button {
    background-color: var(--admin-error-color);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .add-answer-button {
    background-color: var(--admin-accent-color);
    margin-top: 10px;
  }
  
  .remove-answer-button:hover {
    background-color: var(--admin-error-color-blur);
  }
  
  .add-answer-button:hover {
    background-color: var(--admin-secondary-color);
  }
  
  .remove-answer-button:active,
  .add-answer-button:active {
    transform: translateY(2px);
  }
  
