.answer {
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.answer:hover {
    background-color: #cb99d4;
}

.answer.correct,
.answer.highlight-correct {
    background-color: #d4edda;
    border-color: #c3e6cb;
    border: 1px solid #2e9131;
}

.answer.incorrect {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border: 1px solid #d0091d;
}

.answer.disabled {
    pointer-events: none; /* Disable clicking */
    cursor: default; /* Change cursor to default */
}
