.answer {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.answer:hover {
    background-color: #cb99d4;
}

.answer.correct,
.answer.highlight-correct {
    background-color: #d4edda;
    color: #4CAF50;
    border-color: #c3e6cb;
}

.answer.incorrect {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.answer.disabled {
    pointer-events: none; /* Disable clicking */
    cursor: default; /* Change cursor to default */
}
