/* src/components/Answer.css */

.answer {
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid var(--background-color);
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, border-color 0.3s ease;
    background-color: var(--background-color);
    color: var(--text-color);
}

.answer:hover {
    background-color: var(--muted-purple);
}

.answer.correct,
.answer.highlight-correct {
    background-color: var(--success-color);
    border-color: var(--success-color);
    color: var(--soft-white);
}

.answer.incorrect {
    background-color: var(--error-color);
    border-color: var(--error-color);
    color: var(--soft-white);
}

.answer.disabled {
    pointer-events: none; /* Disable clicking */
    cursor: default; /* Change cursor to default */
    opacity: 0.7;
}

/* Accessibility Enhancements */
.answer:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
}
