.quiz-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: calc(70vh - 120px);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}


.back-button {
    background-color: var(--secondary-color);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.back-button:hover {
    background-color: var(--secondary-color-hover);
}

.quiz-title {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
}

.quiz-info {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.quiz-info p {
    font-size: 1.1rem;
    color: var(--text-color);
    margin: 5px 0;
}

.questions-title {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

.questions-list {
    list-style: none;
    padding: 0;
}

.question-item {
    background-color: var(--background-color);
    border: 1px solid #e2e8f0;
    border-radius: var(--border-radius);
    padding: 15px;
    margin-bottom: 10px;
}

.question-content {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-bottom: 5px;
}

.question-number {
    font-weight: bold;
    margin-right: 5px;
}

.selected-answer {
    font-size: 1rem;
    color: var(--accent-color);
}

.error-message {
    color: var(--error-color);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust as needed */
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--primary-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

/* Responsive Design */
@media (max-width: 480px) {
    .quiz-detail-container {
        padding: 15px;
    }

    .quiz-title {
        font-size: 1.5rem;
    }

    .quiz-info p {
        font-size: 1rem;
    }

    .questions-title {
        font-size: 1.2rem;
    }

    .question-content {
        font-size: 1rem;
    }

    .selected-answer {
        font-size: 0.9rem;
    }

    .back-button {
        padding: 6px 12px;
        font-size: 0.9rem;
    }
}
