.question-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 40px;
}

.question-page-content {
    width: 600px;
    margin: 20px;
    background-color: var(--soft-white);
    border-radius: var(--border-radius);
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
}

