.question-container {
    display: flex;
    flex-direction: column;
}

.question-header {
    display: flex;
    justify-content: space-between;
}

.question-title {
    color: var(--primary-color);
    margin: 0;
}

.question-counter {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-answers {
    list-style: none;
    padding: 0;
    margin: 25px 0px;
}

.correct-answer-explanation {
    padding: 10px 20px;
    border: 1px solid var(--background-color);
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, border-color 0.3s ease;
    background-color: var(--accent-color-light);
    color: var(--text-color);
}
